:root {
  --main-green: #79de9b;
  --secondary-green: #c9f2d7;
  --border-green: #1c3424;
  --gray: #f4f4f4;
  --pink: #e2135c;
  --purple: #ad9ccf;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: #000;
}

input[type='text'] {
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
}
