:root {
  --main-green: #79de9b;
  --secondary-green: #c9f2d7;
  --border-green: #1c3424;
  --border-green-light: #40ba37;
  --gray: #f4f4f4;
  --pink: #e2135c;
  --purple: #ad9ccf;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: #000 !important;
}

img {
  object-fit: contain;
  object-position: center;
}

.height-img {
  height: 80vh;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

textarea {
  resize: none;
}

.scroll::-webkit-scrollbar {
	width: 10px;
}

.scroll::-webkit-scrollbar-track {
	background: #FFF;
	border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
	height: 80px;
	border-radius: 10px;
	background-clip: content-box;
	background-color: var(--secondary-green);
}


.nav-search {
  width: 500px;
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
}

.container {
  max-width: 90%!important;
}

#formLogin{ 
  padding: 15px; 
  min-width:300px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
}

.large-img {
  height: 25vw;
  object-fit: cover;
}

.word-break {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.banner {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),  url('../src/assets/images/banner-image.jpg') ;
  height: 170px;
}

.page-title {
  font-size: 46px;
  line-height: 1.3rem;
  font-weight: 500;
}

.fa-star {
    font-size: 11px;
    color: #fbb710;
    display: inline-block;
    padding: 0 1px;
}

.fa-star-lg {
  font-size: 18px;
  padding: 0 3px;
}

.form-btn {
  background-color: #1c8314;
  width: 35%;
  color: #fff;
}

.form-btn:hover {
  background-color: var(--secondary-green);
}

.cancel-btn {
  width: 35%;
  background-color: #f00;
  border: 1px solid #f00;
  color: #fff;
}

.cancel-btn:hover {
  background-color: #fff;
  color: #000;
}

.pageLink {
  border: initial;
  border-bottom: 2px solid #40ba37;
  padding: 10px;
  transition: .3s;
}

.pageLink:hover,
.activeLink a{
  background-color: #f4f4f4;
  font-weight: bold;
}

.profile-list-item {
  border-left: 2px solid #40ba37;
  padding: 0 10px;
  margin: 5px 0;
}

footer {
  border-top: 1px solid #dcdcdc;
}